html, body {
	margin: 0;
	padding: 0;
	border: 0;
}
.container {
	width: 100%;
	/*margin: 0 80px 0 80px;*/
}
.body-wrapper {
	padding: 4em 3em 3em 3em;
	text-align: center;
}
.quarter {
	width: 20%;
	text-align: center;
	display: inline-block;
	margin: 0 20px;
}
h3, h4 {
	text-align: center;	
}
img {
	width: 200px;
	height: 200px;
}
@media screen and (max-width: 970px) {
	.quarter {
		width: 100%;
		margin: 0;
		display: block;
	}
}