/*
color scheme:
 	#9a0000
	#000000
	#ffffff
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Saira');

html, body {
	margin: 0;
	border: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: Saira, Arial, sans-serif;
}
/*nav {
	width: 100%;
	position: fixed;
	z-index: 2;
}*/
nav ul {
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #7d1a1a;
	border-top: 1px solid inherit;
	box-shadow: 0px 5px 9px 1px rgba(0,0,0,.5);
	/*text-align: center;*/
	transition: max-height 0.4s;
}
nav ul li {
	display: inline-block;
	/*padding: 20px;*/
}
nav ul li a {
	display: block;
	color: #eee;
	/*text-align: center;*/
	padding: 14px 16px;
	text-decoration: none;
}
nav ul li a:hover {
	background-color: #5e1717;
}
.logo {
	background-color: #ffffff;
}
#vpss-logo {
	/*float: left;*/
	width: 14%;
	padding: 0 5em 0 1em;
}
.handle {
	width: 100%;
	background: black;
	text-align: left;
	box-sizing: border-box;
	padding: 15px 10px;
	cursor: pointer;
	color: white;
	display: none;
}
/* Start Parallax */
.parallax-1 {  /* parallax image content*/
	width: 100%;
	height: 100%;
	/*background: url("https://officesnapshots.com/wp-content/uploads/2016/03/axis-reinsurance-office-design-1-700x463.jpg") repeat 100%;*/
	background: url('http://flatsixes.com/wp-content/uploads/2015/11/One-Porsche-Drive.jpg');
	background-size: cover;
	/*display: table;*/
}
.parallax-2 {  /* parallax image content*/
	width: 100%;
	/*height: 100%;*/
	background: url("http://cdn1.thr.com/sites/default/files/imagecache/scale_crop_768_433/2015/02/avengers_age_of_ultron_poster_detail.jpg") repeat fixed 100%;
	/*background: url('https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAbFAAAAJDk1YzkxZTM1LTcyZmMtNGYyNy1hMDQ1LWRiNTg5YjVkMzcwNg.jpg') repeat fixed 100%;*/
	background-size: cover;
	color: #eee;
	/*text-shadow: 2px 2px black;*/
	/*display: table;*/
}
.parallax-3 {  /* parallax image content*/
	width: 100%;
	/*height: 100%;*/
	background: url("http://turntherightcorner.com/wp-content/uploads/2014/02/captain-america-the-winter-solider-screenshot-shield-headquarters1.jpg") repeat fixed 100%;
	/*background: url('http://flatsixes.com/wp-content/uploads/2015/11/One-Porsche-Drive.jpg');*/
	background-size: cover;
	color: #eee;
	/*text-shadow: 2px 2px black;*/
	/*display: table;*/
}
.intro-inner {
	width: 100%;
	height: 100%;
	max-width: none;
	background-color: rgba(0,0,0,0.5);
	z-index: 0
}
.parallax-inner { /* parallax size*/
	/*display: table-cell;*/
	/*vertical-align: middle;*/	
	/*padding-top: 100px;
	padding-bottom: 200px;*/
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 0
}
.text-header { /* parallax text content*/

}
.primary-text {
	font-size: 60px;
	/*text-shadow: 4px 3px #996666;*/
	color: #eee;
	padding-left: 10%;
	padding-top: 12%; 
	letter-spacing: 2px;
	margin: 0;
	font-family: Montserrat, Arial, sans-serif;
}
.secondary-text {
	/*text-shadow: 4px 3px #996666;*/
	color: #eee;
	padding-left: 10%;
	letter-spacing: 2px;
	font-family: Montserrat, Arial, sans-serif;
}
.opacity {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.4;
	z-index: 0;
	border: solid black;
	position: absolute;
}
/* End Parallax */
.container {
	width: 100%;
	/*height: 100%;*/
}
.h-wrapper {
	position: relative;
	padding: 5em 3em 3em 3em;
  	/*margin: 25px 40px;*/
}
.body-wrapper {
	/*padding: 4em 3em 3em 3em;*/
	padding-bottom: 3em;
	text-align: center;
}
.one-half {
	/*position: relative;
	width: 40%;
	margin: 2% 0 4% 3%;
	float: left;
	text-align: center;*/
	width: 40%;
	margin: 2% 0 4% 3%;
	/*text-align: center;*/
	display: inline-block;
	margin: 0 20px;
}
.one-third {
	position: relative;
	width: 30%;
	margin: 2% 0 4% 3%;
	float: left;
	text-align: center;
}
.quarter {
	/*position: relative;
	width: 20%;
	margin: 2% 0% 4% 3%;
	float: left;
	text-align: center;*/
	width: 20%;
	text-align: center;
	display: inline-block;
	margin: 0 20px;
}
section {
	/*position: relative;
	width: 100%;
	margin: 0;*/
}
h3 {
	margin: 0;
	text-align: center;
	padding-bottom: 1em;
	/*padding: 5em 3em 3em 3em;*/
	/*margin-top: 90px;*/
}
h4 {
	margin: 0;
	text-align: center;
	/*padding-left: 3em;*/
	/*padding-right: 3em;*/
	/*padding-bottom: 3em;*/
	/*margin-top: 90px;*/
}
p {
	padding: 0 3em;
	text-align: center;
}
.contact-details p {
	padding-left: 35%;
	text-align: left;
	vertical-align: middle;
}
.product-details section {
	/*padding-bottom: 3em;*/
}
.quarter img {
	width: 200px;
	height: 200px;
	/*display: inline-block;*/
/*	width: 100%;
	height: 100%;*/
}
.img-placeholder {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: gray;
	margin: 10px auto;
	overflow: hidden;
}
.icon-nav, .icon-mobile, .icon-tel, .icon-envelope {
	width: 50px;
	height: 50px;
}
.clearfix {
	clear: both;
}
/* Start Flexbox */
.flex-container {
  position: relative;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 40px 40px 40px;
}
.flex-item {
  position: relative;
  margin: 5px;
  padding: 3em;
  width: 15%;
  flex-grow: 1;
  flex-flow: space-around;
  /* for testing*/
  height: 100px;
  font-weight: bold;
  text-align: center;
  color: white;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background-color: black;
}
div.wrapper {
  position: relative;
  margin: 5px;
  padding: 1.5em;
  width: 15%;
  height: 100px;
  text-align: center;
  font-size: 40px;
  color: black;
  font-weight: bold;
  flex-grow: 1;
  flex-flow: space-around;
}
/* End Flexbox */
.wrapper h1 {
  position: relative;
  margin: 0px;
}
/* Start Footer */
.footer{
  	/*position: relative;*/
  	bottom: 0;
  	/*margin-top: 25px;*/
  	margin-bottom: 0;
  	background-color: #7d1a1a;
  	border-top: 1px solid inherit;
	box-shadow: 0px 5px 9px 1px rgba(0,0,0,.5);
}
footer ul {
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*background-color: #7d1a1a;*/
}
footer.footer ul li {
  padding: 2em;
  color: #eee;
  float: right;
}
/* End Footer */
/* Start Media Queries */
@media screen and (max-width: 1100px){
    /*nav ul li.right,*/
    nav ul {
    	max-height: 0px;
    }
    nav ul li {
    	width: 100%;
    	box-sizing: border-box;
    	padding: 5px;
    	text-align: left;
    }
    .handle {
    	display: block;
    }
    .showing {
    	max-height: 20em;
    }
    .primary-text {
    	font-size: 190%;
    	padding-top: 30%;
    }
    .secondary-text {
    	font-size: 100%;
    }
    .wrapper {
    	font-size: 20px;
    }
    .body-wrapper {
    	padding: 0 100px;
    }
    .one-half {
    	width: 100%;
    	margin: 4% 0%;
    }
    .one-third {
    	width: 100%;
    	margin: 4% 0%;
    }
    .quarter {
    	width: 100%;
    	margin: 4% 0%;
    }
    .container {
    	/*background-color: #f1f1f1;*/
    	/*height: inherit;*/
    }
    .parallax-2, .parallax-3 {
    	/*background:  black;
    	background-color: #f1f1f1;*/
    }
    .parallax-inner {
    	/*display: none;*/

    }
    #map {

    }
}
@media screen and (max-width: 400px){
/*  h1 {
    display: none;
  }*/
}
/* End Media Queries */